# ClickHouse 连接配置
CH_HOST=192.168.10.102
CH_PORT=18123
CH_USER=xufei
CH_PASSWORD=xf1987216
CH_DATABASE=quant_db

# DuckDB 路径
DUCKDB_PATH=e:\Quant\Quant_Tushare\data\quant_data.duckdb

# Qlib 数据目录
QLIB_DATA_DIR=./qlib_data

# 特征选择缓存目录
FS_CACHE_DIR=./.fs_cache
